@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
:root {
    --main-color: #11d9b1;
    --secondary-color: #b5ece1;
    --darker-main-color: #0BDD9C;
    --dark-gray-color: rgb(235, 217, 217);
    --gray-color: rgb(224, 223, 223);
    --white-color: rgb(255, 255, 255);
    --black-color: #000;
    --error-color: #DD0B0B;
    --success-color: #05c735;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    /* height: 100%; */
    max-width: 100%;
}
/*NAVBAR*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    /* flex-wrap: wrap; */
}
.logo {
    border-radius: 50%;
    height: 7rem;
}
.navbar-links {
    display: flex;
}
.navbar-links a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.2rem;
}
.navbar-links a:hover {
    /* border-bottom: solid #333 1px; */
    color: var(--main-color);
    transition: 0.5s;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--white-color);
    z-index: 99;
    box-shadow: 1px 3px 6px #000;
}
/*Hamburger button*/
/* .hamburger {
    background: transparent;
    border: 0;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.hamburger:focus {
    outline: none;
} */
.ham-menu {
    display: none;
}
.bars {
    background: var(--black-color);
    height: 5px;
    width: 35px;
    display: block;
    margin: 6px 0;
    transition: all 0.3s ease-in;
}

/*Hero Page*/
#hero-page {
    background: linear-gradient(rgb(8, 196, 158),rgba(17,217,177,0.4));
    height: 100vh;
}
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: auto;
}

.text-content {
    text-align: center;
    width: 100%;
    color: var(--white-color);
}
.text-content h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}
.text-content p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}
.social-content {
    display: flex;
    flex-direction: column;
}
.social-content i {
    color: var(--white-color);
    padding: 0.5rem;
    border: 1px solid var(--white-color);
}
.btn {
    background-color: var(--white-color);
    padding: 1rem;
    width: 10rem;
    border: 1px solid var(--white-color);
    border-radius: 5rem;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0px 3px 6px #000;
}
.btn:hover {
    background-color: var(--darker-main-color);
    transition: all 0.5s;
    color: var(--white-color);
}
/*About Page*/
.section-header {
    text-align: center;
    margin-top: 5rem;
}
.section-header h2 {
    position: relative;
    letter-spacing: 0.2rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
}
.section-header h2::after{
    content: '';
    height: 5px;
    width: 3%;
    position: absolute;
    background: var(--main-color);
    bottom: 0;
    left: 49%;
}
.section-header p {
    color: var(--black-color);
    padding: 2rem 0;
    margin: 0 3rem;
}
.about-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 1rem;
    margin: 1rem 5rem 3rem;
    background-color: var(--gray-color);
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 1px 3px 6px #000;
    /* width: 100%; */
    /* height: 100%; */
    /* max-width: 120rem; */
    /* padding-bottom: 3rem; */
    justify-content: center;
    align-items: center;
}
.about-content {
    padding: 1rem;
}
.about-content h3 {
    margin-bottom: 1rem;
}
.about-paragraph {
    margin-bottom: 0.5rem;
}
.btn-about {
    margin-top: 1rem;
    background: var(--white-color);
}
.about-content-2 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-content-2 ul {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.about-content-2 ul li {
    padding: 0.5rem;
    border-radius: 5px;
    background: var(--white-color);
    box-shadow: 0px 3px 6px #000;
}
/*Projects Page*/
.projects-container {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    justify-content: center;
    margin: 0 3rem;
}
.project-content {
    background: var(--gray-color);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 3px 6px #000;
}
.project-content img {
    border-radius: 5px;
}
.project-content p{
    margin-bottom: 1rem;
}
.project-content a {
    color: var(--main-color);
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    box-shadow: 1px 3px 6px #000;
    transition: all 0.5s;
}
.project-content a:hover {
    background: var(--main-color);
    color: var(--white-color);
}
/*Contact Page*/
.form {
    display: flex;
    justify-content: center;
    background: var(--secondary-color);
}
.form-container {
    border: var(--main-color) 1px solid;
    background: white;
    height: 100%;
    width: 60rem;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 6rem;
    box-shadow: 1px 3px 6px #000;
}
.form-group {
    padding: 1.5rem;
}
.form-group label {
    margin-bottom: 0.5rem;
    display: inline-block;
}
.form-group small {
    visibility: hidden;
}
.form-group.error input{
    border: 2px solid var(--error-color);
}
.form-group.error small {
    color: var(--error-color);
    visibility: visible ;
}
.form-group.success input {
    border: 2px solid var(--success-color);
}
.form-group input {
    padding: 1rem;
    width: 100%;
    background: var(--gray-color);
    border: var(--main-color) 2px solid;
    border-radius: 0.3rem;
}
.form-group .row {
    width: 100%;
    background: var(--gray-color);
    border-radius: 0.3rem;
    padding: 1rem;
}
.btn-form {
    background: var(--gray-color);
    /* color: var(--white-color); */
}
/*Footer*/
#footer {
    background: black;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.footer-content {
    color: white;
    padding: 1rem;
    text-align: center;
}
.footer-content p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
}
.footer-social {
    justify-self: center;
    color: white;
}
.footer-social i {
    padding: 0.2rem
}
.owner {
    color: white;
    text-align: center;
    padding: 2rem;
}
/*Responsive Design*/
@media screen and (max-width: 685px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .navbar-links.active {
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        transition: all 0.6s;
        text-align: center;
        background: var(--gray-color);
        animation: slideIn 0.7s ease-in-out;
    }
    @keyframes slideIn {
        0% {
            left: -100%;
        }
    }
    .ham-menu {
        display: inline-block;
        cursor: pointer;
    }
    .ham-menu.active .bars:nth-child(1) {
        transform: rotate(-45deg) translate(-9px, 6px)
    }
    .ham-menu.active .bars:nth-child(2) {
        opacity: 0;
    }
    .ham-menu.active .bars:nth-child(3) {
        transform: rotate(45deg) translate(-8px, -8px)
    }
    /* .hamburger {
        display: block;
    } */
    .navbar-links a:hover {
        border: 0;
    }
}
@media screen and (max-width: 768px) {
    /* .footer-content {
        text-align: center;
    } */
    .footer-social {
        text-align: center;
    }
    .about-content-2 ul{
        flex-direction: row;
    }
    /* .about-skills ul {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;
    } */
}
@media screen and (max-width: 606px) {
    .text-content h1 {
        font-size: 2rem;
    }
    .text-content p {
        font-size: 0.8rem;
    }
    .hero-container {
        gap: 0.5rem;
    }
    /* .btn-hero {
        width: 6rem;
        font-size: 0.6rem;
    } */
    .section-header h2 {
        font-size: 1.3rem;
    }
    .section-header p {
        padding: 1rem;
    }
    /* .about-skills ul{
        gap: 0.5rem;
    }
    .about-skills li {
        border: 1px solid black; 
        box-shadow: 2px 2px 2px black
    } */
}
@media screen and (max-width: 480px) {
    .about-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
@media screen and (max-width: 586px) {
    .about-container {
        margin: 0 1rem;
    }
}
@media screen and (max-width: 375px) {
    .form-container {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}